@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep your custom styles below */
::-webkit-scrollbar {
  width: 0.3vw;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: yellowgreen;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 225, 41);
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 0.8vw !important;
}